<!DOCTYPE html>
<html lang="en">

<head>
{{>headlinks}}
</head>

<body>
    {{>navbar}}


    <!-- main body -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left header -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="img/Alien _Flatline.png" class="img-fluid" alt="img" title="alien">
                        </figure>
                    </div>
                    <!-- right header -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome strangers </p>
                        <h1> this Cheeky Kid is a cybernaut who spends a lot of time browsing the <span class="text_color">web</span> grasping  <span class="text_color">infinite information,</span> </h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
{{>footer}}

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>